.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-chatbot-kit-chat-inner-container {
  height: 500px;
  background-color: #fff;
  border: 0 0 5px 5px;
}


.react-chatbot-kit-chat-bot-message{
  color:black!important;
  background-color:rgba(236, 236, 236, .3)!important;
  margin-left: 0%!important;
}

.react-chatbot-kit-chat-input{
  border-radius: 25px;
  border: 1px solid #AA3C3F!important;
  border-bottom-left-radius:25px!important;
  background-color:rgba(156, 154, 154, .1)!important;
  width:80%!important;
}

.react-chatbot-kit-chat-btn-send{
  border-radius:100%!important;
  width:40px!important;
  height:40px!important;
  border-bottom-right-radius:100%!important;
}

.react-chatbot-kit-chat-input-form{
  padding: 5px;
  justify-content: space-around!important;
  background-color: #fff;
  
}